body{
    text-align: center;
    background-color: cadetblue;
    flex-direction: column;
    justify-content: space-between;
}

span{
    background-color: beige;
    border: 2px, solid, black;
    margin: 2px;
    padding: 5px;
}